<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall "
		 data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
	<!-- Parallax Image -->
	<div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_3--after"
		 style="height: 140%; background-image: url(/assets/img/services.jpeg);"></div>
	<!-- End Parallax Image -->

	<!-- Promo Block Content -->
	<div class="container g-color-white text-center g-py-150">
		<h2 class="h3 textpercase mb-2">Cloud Managed Services</h2>
		<p class="g-font-weight-600 g-font-size-40 text-uppercase">We manage your cloud technology so you can focus on your business.</p>
	</div>
	<!-- Promo Block Content -->
</section>
<!-- End Promo Block -->
<div class="container">

	<div class="shortcode-html">
		<div class="row align-items-center g-mt-15">
			<div class="col-md-5">
				<!-- Row -->
					<div class="col-md-12 g-mb-40">
						<i class="d-block icon-communication-101 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
						<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10" >Cloud Applications</h4>
						<p class="mb-0">Keep your cloud applications talking to each other, accessible, and efficient.</p>
					</div>
					<div class="col-md-12 g-mb-40">
						<i class="d-block icon-communication-023 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
						<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">User Devices</h4>
						<p class="mb-0">Control the security of your data, ensure yours and your employee's devices are up to date and secure.</p>
					</div>
					<div class="col-md-12 g-mb-40">
						<i class="d-block icon-hotel-restaurant-249 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
						<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">Service desk</h4>
						<p class="mb-0">Have a question about your technology, we will find the answers, no matter the question.</p>
					</div>
					<div class="col-md-12 g-mb-40">
						<i class="d-block icon-communication-151 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
						<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">Salesforce</h4>
						<p class="mb-0">All of your data, linked to your Salesforce instance, so you can act with accurate data.</p>
					</div>
				<!-- End Row -->
			</div>

			<div class="col-lg-7">
				<div class="row no-gutters align-items-center justify-content-center">
					<div class="col-md-6 g-mb-30 g-z-index-2">
						<!-- Article -->
						<article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10">
							<div class="g-bg-gray-light-v5 g-px-15 g-py-50">
								<!-- Article Title -->
								<h4 class="text-uppercase g-color-gray-dark-v3 g-font-weight-500 g-mb-10">Advanced</h4>
								<!-- End Article Title -->
								<em class="g-font-style-normal">All of your technology needs</em>

								<hr class="g-brd-gray-light-v4 g-my-20">

								<div class="g-color-primary g-my-30">
									<strong class="d-block g-font-size-30 g-line-height-1_2">$150.00</strong>
									per month per user
								</div>

								<hr class="g-brd-gray-light-v4 g-mt-20 g-mb-10">

								<ul class="list-unstyled g-mb-25">
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12">Technology, data, and compliance management in a complete package.</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12" data-toggle="tooltip" data-placement="top" ><b>Cloud Applications</b> Salesforce, Office 365, G-Suite, and many others.
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Service Desk</b> End User and Knowledge base support
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Service Desk</b> Change and Release management
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Service Desk</b> Asset and Network management
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Users and Devices</b> Security, Identity, and Content Management
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Adv. Backup and Disaster Recovery</b> Salesforce, Endpoints, and G-Suite / Office 365
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Adv. Compliance</b> Compliance, E-Discovery, Legal Holds, Cloud search
									</li>
								</ul>
								<a class="btn btn-md rounded-0 u-btn-primary" href="/contact">Request a Quote</a>
							</div>
						</article>
						<!-- End Article -->
					</div>

					<div class="col-md-6 g-mb-30">
						<!-- Article -->
						<article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10">
							<div class="g-bg-gray-light-v5 g-pa-30">
								<!-- Article Title -->
								<h4 class="text-uppercase g-color-gray-dark-v3 g-font-weight-500 g-mb-10">Standard</h4>
								<!-- End Article Title -->
								<em class="g-font-style-normal">Employees and their devices</em>

								<hr class="g-brd-gray-light-v4 g-my-10">

								<div class="g-color-primary g-my-20">
									<strong class="d-block g-font-size-30 g-line-height-1_2">$100.00</strong>
									per month per user
								</div>

								<hr class="g-brd-gray-light-v4 g-mt-10 mb-0">

								<ul class="list-unstyled g-mb-25">
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12">User and Application management</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Cloud Applications</b> Salesforce, Office 365, G-Suite, and many others.
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Service Desk</b> End User and Knowledge base support
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Users and Devices</b> Security, Identity, and Content Management
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Backup and Disaster Recovery</b> Salesforce, Endpoints, and G-Suite / Office 365
									</li>
									<li class="g-brd-bottom g-brd-gray-light-v4 g-py-12"><b>Compliance</b> Compliance, E-Discovery, Legal Holds, Cloud search
									</li>
								</ul>
								<a class="btn btn-md rounded-0 u-btn-primary" href="contact">Request a Quote</a>
							</div>
						</article>
						<!-- End Article -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="u-divider u-divider-db-solid u-divider-center g-brd-primary w-50 mx-auto g-my-80">
		<i class="fa fa-user-o u-divider__icon u-divider__icon--indented g-bg-primary g-color-white rounded-circle"></i>
	</div>

	<div class="shortcode-html">

	<div class="shortcode-html">
		<div class="text-uppercase g-mb-20">
			<h2 class="g-font-weight-700 mb-0">Add-ons and One-Time projects</h2>
			<h5 class="g-font-weight-200 g-color-primary">Only available to Managed Services clients</h5>
		</div>
	</div>

	<div class="row align-items-center">
		<div class="col-lg-6 g-mb-30">
			<!-- Article -->
			<article class="w-100 d-sm-table g-bg-gray-light-v5">
				<!-- Article Info -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
					<strong class="g-font-size-36 g-color-primary">$19.99</strong>
					<em class="d-block g-font-style-normal g-font-weight-300 g-mt-minus-5 g-mb-20">starting at</em>
				</div>
				<!-- End Article Info -->

				<!-- Article Content -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
					<h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Office 365 Migration</h4>
					<p class="mb-0">From On-Premise Exchange, G-Suite, or another email platform, we can plan and execute a migration onto Microsoft Office 365.</p>
				</div>
				<!-- End Article Content -->
			</article>
			<!-- End Article -->
		</div>


		<div class="col-lg-6 g-mb-30">
			<!-- Article -->
			<article class="w-100 d-sm-table g-bg-gray-light-v5">
				<!-- Article Info -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
					<strong class="g-font-size-36 g-color-primary">$49.99</strong>
					<em class="d-block g-font-style-normal g-font-weight-300 g-mt-minus-5 g-mb-20">per month</em>
				</div>
				<!-- End Article Info -->

				<!-- Article Content -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
					<h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">G-Suite Migration</h4>
					<p class="mb-0">From On-Premise Exchange, Office 365, or another email platform, we can plan and execute a migration onto Google's G-Suite.</p>
				</div>
				<!-- End Article Content -->
			</article>
			<!-- End Article -->
			
		</div>


		<div class="col-lg-6 g-mb-30">
			<!-- Article -->
			<article class="w-100 d-sm-table g-bg-gray-light-v5">
				<!-- Article Info -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
					<strong class="g-font-size-36 g-color-primary">$2,500</strong>
					<em class="d-block g-font-style-normal g-font-weight-300 g-mt-minus-5 g-mb-20">starting at</em>
				</div>
				<!-- End Article Info -->

				<!-- Article Content -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
					<h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Salesforce Implementation</h4>
					<p class="mb-0">Just getting into Salesforce? In addition to our managed services, we can implement a Salesforce instance from scratch. This can be as simple from getting the Sales Cloud setup and configured, to running an entire business on the Force.com platform.</p>
				</div>
				<!-- End Article Content -->
			</article>
			<!-- End Article -->
		</div>


		<div class="col-lg-6 g-mb-30">
			<!-- Article -->
			<article class="w-100 d-sm-table g-bg-gray-light-v5">
				<!-- Article Info -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-brd-right--dashed--sm g-brd-gray-light-v4 g-pa-30">
					<strong class="g-font-size-36 g-color-primary">$49.99</strong>
					<em class="d-block g-font-style-normal g-font-weight-300 g-mt-minus-5 g-mb-20">per month</em>
				</div>
				<!-- End Article Info -->

				<!-- Article Content -->
				<div class="d-sm-table-cell text-center text-sm-left g-valign-middle g-pa-30">
					<h4 class="text-uppercase g-color-black g-font-size-default g-font-weight-700">Training</h4>
					<p class="mb-0">We can create training and knowledge base content, as well as conduct online or in-person trainings on the technology you use. Basic training and knowledge base article creation is included in our standard managed service plans.</p>
				</div>
				<!-- End Article Content -->
			</article>
			<!-- End Article -->
		</div>
		
	</div>


	</div>
	<div class="u-divider u-divider-db-solid u-divider-center g-brd-primary w-50 mx-auto g-my-80">
		<i class="fa fa-user-o u-divider__icon u-divider__icon--indented g-bg-primary g-color-white rounded-circle"></i>
	</div>
	<div class="shortcode-html">
		<div class="shortcode-html">
			<div class="text-uppercase g-mb-20">
				<h2 class="g-font-weight-700 mb-0">Frequently Asked Questions</h2>
				<h5 class="g-font-weight-200 g-color-primary">Common questions about our services</h5>
			</div>
		</div>
		<div id="accordion-10" class="u-accordion u-accordion-color-primary u-accordion-brd-primary" role="tablist" aria-multiselectable="true">
			<!-- Card -->
			<div class="card rounded-0 g-brd-none">
				<div id="accordion-10-heading-01" class="u-accordion__header g-pa-0" role="tab">
					<h5 class="mb-0 g-font-weight-600 g-font-size-default">
						<a class="d-block g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" href="#accordion-10-body-01" data-toggle="collapse" data-parent="#accordion-10" aria-expanded="true" aria-controls="accordion-10-body-01">
							<i class="icon-finance-260 u-line-icon-pro g-valign-middle g-font-size-18 mr-3"></i>
							<span class="float-right u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
							<span class="g-valign-middle">What are the service desk's hours?</span>
						</a>
					</h5>
				</div>
				<div id="accordion-10-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-10-heading-01">
					<div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
						We operate the Service Desk from 9 to 5 every Monday through Friday, with 24/7 emergency support available for critical issues. We try to get back to every request within an hour, and we will get back to every request within 3 business hours.
					</div>
				</div>
			</div>
			<!-- End Card -->

			<!-- Card -->
			<div class="card rounded-0 g-brd-none">
				<div id="accordion-10-heading-02" class="u-accordion__header g-pa-0" role="tab">
					<h5 class="mb-0 g-font-weight-600 g-font-size-default">
						<a class="collapsed d-block g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" href="#accordion-10-body-02" data-toggle="collapse" data-parent="#accordion-10" aria-expanded="false" aria-controls="accordion-10-body-02">
							<i class="icon-finance-168 u-line-icon-pro g-valign-middle g-font-size-18 mr-3"></i>
							<span class="float-right u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
							<span class="g-valign-middle">How many devices can a user have?</span>
						</a>
					</h5>
				</div>
				<div id="accordion-10-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-02">
					<div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
						By default, a user can have up to three devices assigned to them at any one time. This could be any combination of laptop, desktop, tablet, and phone. If you have users with more than 3 devices, we will accommodate those needs on a case-by-case basis.
					</div>
				</div>
			</div>
			<!-- End Card -->

			<!-- Card -->
			<div class="card rounded-0 g-brd-none">
				<div id="accordion-10-heading-03" class="u-accordion__header g-pa-0" role="tab">
					<h5 class="mb-0 g-font-weight-600 g-font-size-default">
						<a class="collapsed d-block g-color-main g-text-underline--none--hover g-brd-bottom g-brd-gray-light-v4 g-pa-15-0" href="#accordion-10-body-03" data-toggle="collapse" data-parent="#accordion-10" aria-expanded="false" aria-controls="accordion-10-body-03">
							<i class="icon-finance-189 u-line-icon-pro g-valign-middle g-font-size-18 mr-3"></i>
							<span class="float-right u-accordion__control-icon g-ml-10">
                              <i class="fa fa-angle-right"></i>
                              <i class="fa fa-angle-down"></i>
                            </span>
							<span class="g-valign-middle">Is there a complete list of features of the service?</span>
						</a>
					</h5>
				</div>
				<div id="accordion-10-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-10-heading-03">
					<div class="u-accordion__body g-color-gray-dark-v5 g-pa-15-0">
						Yes, we do have a list of things that are definitely included. Since we are designed to act as your own IT department, if it doesn't cost us anything, it's not going to cost you any more, inside the scope of your agreement. 

						Link to the Google Spreadsheet with our Standard and Advanced services.
						<a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRO9YjbKoIC4hYayBrFzU8tZCCV1Bgw73D2wg7SibF_zhvc70mIHovCdX4NUVcBhczpEHNrhhNMAlek/pubhtml?gid=0&single=true">Managed Service Levels - Packages</a>
					</div>
				</div>
			</div>
			<!-- End Card -->
		</div>
	</div>
	
</div>
